.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.biggerDiv{
background-color: whitesmoke;
  display:flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card{
  margin: 1rem;
  border-radius: 2rem;
  box-shadow: 1px 1px 15px grey;
}

.card-img-top{
  height: 12rem;
  width: 100%;
  border-radius: 2rem;
}

.card-text{
  text-align: left;
  line-height: 0.7rem;
}

/* .card-body > button {} */


.card-title{
  text-align: left;

}

#price{
  color: red;
}

#viewCar{
  float: left;
  background-color: rgb(30, 30, 165);
}

#deleteCar{
  float: right;
  background-color: rgb(230, 81, 81);
}


.car-img-display-div{
  width: 65%;
}

#carMain{
  width: 65%;
  float: left;
  height: 100vh;
   padding: 1%;
  padding-top: 7rem;
  
}

.carDisplay{
  display: flex;
  width: 100%;
}


#car-img-display {
  width: 100%;
  float: left;
  height: 100vh;
  padding-top: 4rem;
}

#car-display-price{
  width: 75%;
  padding-left: 2rem; ;
  padding-top: 2.9rem;
  margin-bottom: 19%;
  height:12rem;
}
/* styling for boolen values  */
#car-boolen-values{
  margin-top: 2%;
  display: flex;
 justify-content: space-between;

}


#car-safety-tip{

  padding-left: 2rem;
  margin-bottom:7% ;
}
#car-display-feedback{

  padding-left: 2rem;

}

section>{
  width: 100vh;
}


#car-details-card{
  display: flex;
  flex-direction: row;
  width:auto;
  border-radius:0%;
 background-color: whitesmoke;
 justify-content: space-between;
}
#car-logo{
  width: 7rem;
  border-radius: 12rem;
  height: 7rem;
  align-items: start;
  float: left;
}